.curved-loop-jacket {
  width: 100%;
}

.curved-loop-svg {
  user-select: none;
  width: 100%;
  aspect-ratio: 100 / 12;
  overflow: visible;
  display: block;
  font-size: 3rem; /* Reduced font size */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

.custom-text-style {
  font-size: 3rem; /* Explicitly set font size */
  fill: currentColor; /* Inherit color from parent */
}
